.WorkspaceInvitationHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  h3 {
    color: #191c1e;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }

  span {
    font-size: 20px;
    color: white;
    background-color: #4f46e5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
