.closeButton {
  color: black;
  border: 1px solid #6b7280;
  background-color: #f8f9fb;
  padding: 8px 16px;
  font-size: 16px;
}

.submitButton {
  color: white;
  background-color: #3b82f6;
  padding: 8px 16px;
  font-size: 16px;
}

.todoFormBottom {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}
