.inviteNewMemberModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.invitePersonButton {
  background-color: #3525cd;
  color: white;
  gap: 15px;
  padding: 6px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
