

.notificationButton {
    height: 25px;
    width: 25px;
}

.notificationsItem {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notificationsList {
    height: 600px;
}
