

.notificationButton {
    height: 25px;
    width: 25px;
}

.notificationsItemRead {
    text-decoration: line-through;
}

.notificationsItem {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 20px;
    h3 {
        flex: 1;
    }
}

.notificationsItemButtons {
    display: flex;
    gap: 10px;
}

.notificationsList {
    height: 600px;
}
