.TodoKanbanBoardList {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  min-height: 0;
}

.TodoKanbanBoardColumnList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  padding-right: 10px;
}

.TodoKanbanBoardHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.TodoKanbanBoardColumn {
  flex: 0 0 420px;
  min-width: 420px;
  display: flex;
  flex-direction: column;
}
.TodoKanbanBoardStatus {
  color: #191c1e;
  font-weight: 600;
  margin-right: 10px;
}

.TodoKanbanBoardCount {
  font-weight: 400;
  background-color: #e1e2e4;
  color: #464555;
  size: 55px;
  border-radius: 4px;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.TodoKanbanBoardPlus {
  font-size: 24px;
}

.TodoKanbanBoardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 0px 0px 10px 0px;
  h3 {
    font-size: 24px;
  }
  path {
    fill: black;
  }
}

.TodoKanbanBoardHeaderTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.InputGroupTodoListTitleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1400px) {
  .TodoKanbanBoardColumn {
    min-width: 340px;
  }
}
