.sidebar {
  background-color: #1e1f2e;
  padding: 24px;
  height: 100vh;
}

.sidebarHeaderLink {
  display: flex;
  gap: 5px;
  color: white;
}

.sidebarHeaderLinkContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebarHeaderTitle {
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.sidebarHeaderSubtitle {
  font-weight: 600;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.sidebarMenu {
  margin-bottom: 32px;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 18px 8px 8px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 18px;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 24px;
}

.sidebarMenuTitle {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 600;
  padding-left: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 24px;
  }
}

.sidebarBody {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 15px;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.sidebarBody::-webkit-scrollbar {
  width: 6px;
}

.sidebarBody::-webkit-scrollbar-track {
  background: transparent;
}

.sidebarBody::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

.sidebarBody::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
